<app-navbar></app-navbar>
<app-buscar (onQuery)="buscar($event)"></app-buscar>

<div *ngIf="cargando" class="loading">
    <app-spinner></app-spinner>
</div>
<div *ngIf="results.length <= 0 && !cargando" class="sin-resultados">
    <h3 class="sin-resultados__text">Sin resultados</h3>
  </div>
  
<app-listado-imagenes [imagenes]="results" ></app-listado-imagenes>

<div *ngIf="!(_pixabay.pagina >= _pixabay.totalPaginas)" class="d-grid gap-2 col-6 mx-auto mb-5">
  <button (click)="cargarMas()" class="btn btn-outline-success w-100" type="button">Cargar más</button>
</div>